.collection-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
.collection-title:hover {
  text-decoration: underline;
}
.collection-preview {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .collection-preview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .collection-preview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .collection-preview {
    grid-template-columns: repeat(4, 1fr);
  }
}
