@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}
.background-image:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.background-image,
.image {
  background-position: center;
  background-size: cover;
}
input:focus {
  outline: none !important;
}
.custom-button {
  text-transform: uppercase !important;
}
.collection-item>.custom-button{
  width: 80%;
  position: absolute;
  opacity: 0.8;
  top:260px;
  display: none;
  background-color: white;
  border:1px solid black;
  color: black;
}
.collection-item:hover>.custom-button{
  display: block;
}
.collection-item:hover>.custom-button:hover{
  background-color: black;
  color: white;
}
.collection-item:hover>.image{
  opacity: 0.8;
}
